:root {
  --background: #f5f5f5;
  --backgroundContainerInverse: #000;
  --backgroundContainer: #fff;
  --backgroundUrl: #f5f5f5;
  --textPrimary: #000;
  --textPrimaryInverse: #fff;
  --hover: #e6e6e6;
  --border: #ddd;
}

/* Regular */
@font-face {
  font-family: "NeueMontreal";
  font-style: normal;
  font-weight: 400;
  src: url("assets/PPNeueMontreal-Book.otf") format("woff2");
}

/* Light */
@font-face {
  font-family: "NeueMontreal";
  font-style: normal;
  font-weight: 300;
  src: url("assets/PPNeueMontreal-Thin.otf") format("woff2");
}

/* Medium */
@font-face {
  font-family: "NeueMontreal";
  font-style: normal;
  font-weight: 500;
  src: url("assets/PPNeueMontreal-Medium.otf") format("woff2");
}

/* Bold */
@font-face {
  font-family: "NeueMontreal";
  font-style: normal;
  font-weight: 700;
  src: url("assets/PPNeueMontreal-Bold.otf") format("woff2");
}

/* ---------------------------------- */

@font-face {
  font-family: "Harmond";
  font-style: normal;
  font-weight: 300;
  src: url("assets/Harmond-SemiBoldCondensed.otf") format("woff2");
}

html {
  display: flex;
  font-family: "NeueMontreal", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  padding: 40px;
  width: 100%;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  gap: 256px;
  margin: 0;
  background-image: url("assets/noise.png");
}

header {
  width: 100%;
}

#logo {
  font-family: "Harmond", sans-serif;
  font-size: 116px;
  color: var(--textPrimary);
}

h1 {
  font-size: 20rem;
  font-weight: 300;
  color: var(--textPrimary);
}

h2 {
  font-size: 1.525rem;
  font-weight: 500;
  color: var(--textPrimary);
  margin: 0;
}

h3 {
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--textPrimary);
}

p {
  font-size: 1.25rem;
  color: var(--textPrimary);
}

#grid-2-columns {
  display: grid;
  grid-template-columns: minmax(200px, 0.3fr) 1fr;
  gap: 40px;
}

.stack {
  display: flex;
  flex-direction: column;
}

.stack-8 {
  gap: 8px;
}

.stack-16 {
  gap: 16px;
}

.stack-24 {
  gap: 24px;
}

.stack-32 {
  gap: 32px;
}

.inline {
  display: flex;
  flex-direction: row;
}

.inline-8 {
  gap: 8px;
}

.inline-16 {
  gap: 16px;
}

.inline-24 {
  gap: 24px;
}

.inline-32 {
  gap: 32px;
}

.inline-wrap {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 8px;
}

.stack-space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.inline-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 24px;
}

.github-logo {
  filter: invert(0%);
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 8px;
}

section {
  padding: 40px;
  background: var(--backgroundContainer);
  border-radius: 24px;
  height: 400px;
  flex-shrink: 0;
  flex-basis: auto; /* default value */
  flex-grow: 1;
}

/* #product-description {
  width: 100%;
} */

.url {
  background: var(--backgroundUrl);
  padding: 16px;
  border-radius: 8px;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

a {
  color: var(--textPrimary);
  text-decoration: none;
  cursor: pointer;
}

.icon {
  width: 16px;
  height: 16px;
}

.icon-button {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon-button:hover {
  background: var(--hover);
}

.inverse {
  background: var(--backgroundContainerInverse);
  color: var(--textPrimaryInverse);
}

.inverse .url {
  background: rgba(255, 255, 255, 0.15);
  color: var(--textPrimaryInverse);
}

.inverse .icon {
  filter: invert(100%);
}

.inverse .icon-button:hover {
  background: rgba(255, 255, 255, 0.15);
}

.inverse h1,
.inverse h2 {
  color: var(--textPrimaryInverse);
}

.inverse a {
  color: var(--textPrimaryInverse);
}

.inverse a:visited {
  color: var(--textPrimaryInverse);
}

footer {
  display: flex;
  justify-content: right;
  align-items: right;
  gap: 16px;
}

footer p {
  font-size: 14px;
}

.contribute-button {
  text-decoration: none;
  font-size: 1rem;
  border: 1px solid #000;
  padding: 8px 16px;
  display: flex;
  width: fit-content;
  text-align: center;
  border-radius: 999px;
  min-width: fit-content;
  content: "Fat this project in GitHub";
}

.contribute-button:hover {
  background: #000;
  color: #fff;
}

header a:hover {
  opacity: 0.7;
}

.isMobile {
  flex-direction: row;
}

#logo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  gap: 16px;
  height: fit-content;
}

#logo-grid #logo-name {
  font-size: 14px;
  margin: 0;
  font-weight: 500;
}

#logo-grid #logo-variant {
  padding: 4px 8px;
  border-radius: 999px;
  margin: 0;
}

#logo-grid #logo-version {
  margin: 0;
}

.logo-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background 0.2s linear, transform 0.1s ease-in-out;
  max-width: 300px;
  border-radius: 16px;
  padding: 24px;
}

.logo-cell:hover {
  background: var(--backgroundUrl);
  cursor: pointer;
}

.logo-cell:active {
  transform: scale(0.98);
}

.tag {
  font-size: 12px;
  color: #666;
  border: 1px solid var(--border);
  padding: 4px 8px;
  border-radius: 999px;
}

input#search-input {
  margin: 0 auto;
  width: -webkit-fill-available;
  height: 56px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #d0cfce;
  border-radius: 999px;
  outline: none;
  &:focus {
    border: 1px solid #000;
    transition: 0.35s ease;
    color: #000;
    &::-webkit-input-placeholder {
      opacity: 0;
    }
    &::-moz-placeholder {
      opacity: 0;
    }
    &:-ms-placeholder {
      opacity: 0;
    }
  }
}

#grid-container {
  display: flex;
  align-items: center;
  text-align: center;
  height: 100%;
}

#grid-logos-container {
  height: 100%;
  display: flex;
  align-content: center;
  align-items: center;
}

#grid-logos {
  max-width: 100px;
  max-height: 56px;
}

.sticky {
  position: sticky;
  top: 0; /* Fija la columna en la parte superior cuando haces scroll */
  height: 100vh;
  padding-top: 24px;
}

.search-icon {
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -62px;
  right: -45px;
}

.chip-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: flex-start;
}

.chip {
  padding: 12px 24px;
  border-radius: 999px;
  border: 1px solid #ccc;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  white-space: nowrap;
}

.chip .check-icon,
.chip .x-icon {
  font-size: 14px;
  width: 14px;
  text-align: center;
}

.chip .check-icon {
  display: none;
  color: #4caf50;
}

.chip .x-icon {
  display: inline;
  color: #f44336;
}

.chip.active .check-icon {
  display: inline;
}

.chip.active .x-icon {
  display: none;
}

.chip.active {
  background-color: #000;
  color: white;
  border-color: #000;
}

.chip:hover {
  background-color: #e0e0e0;
}

.chip.active:hover {
  background-color: #1d1d1d;
}

/* Comments in English: Basic styling for the snackbar */
#snackbar {
  visibility: hidden;
  width: fit-content;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 16px 24px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  border-radius: 999px;
  font-size: 17px;

  /* Initial states (no animation needed here) */
  opacity: 0;
  transform: translateY(50%);
  filter: blur(6px);
}

/* When showing, run the "slideIn" animation */
#snackbar.show {
  visibility: visible; /* Make sure it's visible at the start of the animation */
  animation: slideIn 0.5s forwards;
}

/* Keyframes for showing the snackbar */
@keyframes slideIn {
  0% {
    /* Start off-screen, blurred, and invisible */
    opacity: 0;
    transform: translateY(50%);
    filter: blur(6px);
  }
  100% {
    /* End fully visible and at the final position */
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

/* When hiding, run the "slideOut" animation */
#snackbar.hide {
  /* Comments in English:
     The element will start from its current state (visible) 
     and animate to hidden.
  */
  animation: slideOut 0.8s forwards;
}

/* Keyframes for hiding the snackbar */
@keyframes slideOut {
  0% {
    /* Start visible at final position */
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
    visibility: visible; /* Still visible at start */
  }
  100% {
    /* End off-screen, blurred, and hidden */
    opacity: 0;
    transform: translateY(50%);
    filter: blur(30px);
    visibility: hidden; /* Hidden at the end of the animation */
  }
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  :root {
    --background: #000;
    --backgroundContainerInverse: #101010;
    --backgroundContainer: #101010;
    --backgroundUrl: #252525;
    --textPrimary: #fff;
    --textPrimaryInverse: #fff;
    --hover: #2f2f2f;
    --border: #444;
  }

  .contribute-button {
    border: 1px solid #fff;
  }

  .contribute-button:hover {
    background: #fff;
    color: #000;
  }

  .icon {
    filter: invert(100%);
  }

  .chip {
    background-color: var(--background);
    border-color: #444;
    color: #fff;
  }

  .chip:hover {
    background-color: #3f3f3f;
  }

  .chip.active {
    background-color: #fff;
    color: #000;
  }

  .chip.active:hover {
    background-color: #ddd;
  }

  .chip .check-icon {
    color: #81c784;
  }

  .chip .x-icon {
    color: #e57373;
  }

  .github-logo {
    filter: invert(100%);
  }
}

@media (max-width: 970px) {
  body {
    padding: 24px;
  }
}

@media (max-width: 764px) {
  body {
    padding: 16px;
  }
  header,
  .inline-space-between {
    align-items: baseline;
  }
  #grid-2-columns {
    grid-template-columns: 1fr;
  }
  main {
    grid-template-columns: none;
  }
  #logo {
    font-size: 48px;
  }
  .isMobile {
    flex-direction: column;
    flex-direction: column-reverse;
  }
  section {
    padding: 32px 16px 16px 16px;
    margin: 0 -8px;
  }
  .contribute-button {
    font-weight: 500;
  }

  .sticky {
    position: relative;
    top: 0;
    height: auto;
  }
}
